.NavBar {
    color: white;
    background-color: black;
    width: 100%; 
    margin: 0;
    padding: 2vh 4vw; 
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.7vw; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavSelector {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.NavSelector li {
    display: inline-block;
}

.NavSelector li a {
    text-decoration: none;
    color: inherit;
    padding: 0.5rem
}

.NavSelector li a:hover {
    background-color: gray; 
    border-radius: 5px;
}

.logo {
    margin-right: 2rem;
}

.NavBarGap {
    padding-top: 6.3rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: #f5f5f5;
    overflow-y: auto;
}

.main-container {
    padding: 2rem 10vw;
    box-sizing: border-box;
    margin-top: -3rem;
}

.titles-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
}

.section-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.map-section {
    overflow: hidden;
}

.campus-map {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.event-feed-section {
    height: 85%;
    overflow-y: auto;
}
.event-feed-section::-webkit-scrollbar {
    display: none;
  }

.event-location {
    margin-bottom: 2rem;
}

.event {
    background-color: #28a745;
    color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #1f231f;
}

.event-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.event-info {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.event-actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.event-button {
    flex: 1;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
}

.event-button:hover {
    text-decoration: underline;
}
